@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-bg-color: #A7C1A8;
  --primary-text-color: #22223B;
  --secondary-text-color: #4A4E69;
  --primary-color: #005F00;
  --primary-op-10: rgba(0,95,0,0.1);
  --primary-op-30: rgba(0,95,0,0.3);
}

// @theme inline {
//   --color-background: var(--background);
//   --color-foreground: var(--foreground);
//   --font-sans: var(--font-poppins);
//   --font-mono: var(--font-geist-mono);
// }

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #ededed;
//     --foreground: #0a0a0a;
//   }
// }

// common design ---------------------------
.primary-text{
  font-family: var(--font-syne);
  color: var(--primary-text-color);
}
.primary-text-color{
  color: var(--primary-text-color);
}
.secondary-text-color{
  color: var(--secondary-text-color);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  letter-spacing: 0.6px;
}
.action-btn{
  padding: 12px 36px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  gap: 4px;
  cursor: pointer;
  &.primary{
    background-color: var(--primary-color);
    color: #ffffff;
    &:hover{
    background-color: transparent;
    color: var(--primary-color);
    }
  }
  &.secondary{
    background-color: transparent;
    color: var(--primary-color);
    &:hover{
      background-color: var(--primary-color);
      color: #ffffff;
    }
  }
  &.about-action-btn{
    margin-top: 40px;
  }
}

.section-title{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px; 
  color: var(--primary-text-color);
  font-family: var(--font-syne);
 }
 .section-subtitle{
   font-size: 14px;
   font-weight: 400;
   line-height: 22px; 
   color: var(--secondary-text-color);
   margin-top: 8px;
  }
  // common design ---------------------------

  // home page desing
.navbar-container{
  .top-navbar{
    border-bottom: 1px solid black;
  }
}
.hero-section{
  min-height: 620px;
  &.hero-1{
    background-color: #A7C1A8;
  }
  &.hero-2{
    background-color: #D5DBDB;
  }
  &.hero-3{
    background-color: #EFE4DA;
  }
  .detail-box{
    min-height: 620px;
    width: fit-content;
    gap: 70px;
    .right-container{
     .hero-action-button{
      font-size: 16px;
      font-weight: 400;
line-height: 20px;
letter-spacing: 0.6px;
justify-content: flex-end;
margin-top: 52px;
text-decoration: underline;
cursor: pointer;
color: var(--primary-text-color);
     }
    }
    .left-container{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 430px;
      .hero-title{
font-size: 40px;
font-weight: 700;
line-height: 54px;
letter-spacing: 0.6px;
margin-bottom: 14px;
max-width: 370px;
      }
      .hero-description{
        font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.6px;
max-width: 370px;
      }
      .left-img{
        margin-top: 60px;
      }
    }
  }
}
.about-us-info-details-section{
  padding: 125px 96px;
  justify-content: space-between;
  gap: 3rem;
  .details-section{
    max-width: 580px;
    flex: 1 1 50%;
    .header-label{
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 6px;
    }
    .title{
      font-size: 40px;
      line-height: 44px;
      font-weight: 700;
    }
    .desc{
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      margin-top: 16px;
    }
  }
  .img-section{
    flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 400px;
  }
 
}
.product-section{
  background-color: var(--primary-op-10);
  padding: 60px 96px;
  text-align: center;
  .product-list-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 32px;
    justify-content: center;
    margin-top: 40px;
    .product-name{
      font-size: 16px;
      font-weight: 400;
      margin-top: 8px;
      text-align: left;
    }
  }
  .product-action-btn{
    margin: 60px auto 0;
  }
}
.choose-us-section{
  padding: 100px 96px;
  text-align: center;
  .why-choose-grid{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(218px, 1fr));
  gap: 52px;
  justify-content: center;
  align-items: start;
  margin-top: 76px;
  .info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .icon-wrapper{
      background-color: var(--primary-op-10);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
    }
    .info-title{
      font-size: 24px;
      line-height: 28px;
      font-weight: 600;
    }
    .info-desc{
      font-size: 14px;
      font-weight: normal;
      color: var(--secondary-text-color);
      margin-top: 6px;
    }
  }
  }
}
.testimonial-section{
  padding: 96px;
  background-color: var(--primary-op-10);
  text-align: center;
  .section-title{
    max-width: 653px;
    margin: 0px auto;
  }
  .testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto 0;
    
    .testimonial-card{
      padding: 32px;
      background-color: var(--primary-op-30);
      border-radius: 8px;
      .card-profile{
        .img{
          border-radius: 50%;
          object-fit: cover;
        }
        display: flex;
        align-items: center;
        gap: 14px;
        .profile-info-section{
          text-align: left;
          .stars{
            margin-top: 4px;
          }
        }
      }
      .testimonial-desc{
        color: var(--secondary-text-color);
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        text-align: left;
        margin-top: 20px;
      }
    }
  }
}
.contact-us-section{
  padding: 96px;
  .section-title,
  .section-subtitle{
    text-align: center;
  }
  .contact-form-container{
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    .get-in-touch-details{
      width: 100%;
      max-width: 450px;
      .title{
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 20px;
      }
      .info-details-box{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0px;
        }
  
        .info-icon{
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--primary-op-10);
        }
        .info-desc{
          .desc-label{
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 4px;
            text-align: left;
          }
          .desc-val{
            text-align: left;
            font-size: 14px;
            font-weight: normal;
            line-height: 22px;
          }
        }
      }
    }
    .form-fields-group{
      width: 100%;
      max-width: 530px;
      .input-fields{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .form-field{
          padding: 10px 16px;
          border: 1px solid var(--primary-color);
          background-color: transparent;
          outline: none;
          font-size: 14px;
          font-weight: normal;
          line-height: 20px;
          &::placeholder{
            color: var(--secondary-text-color);
            opacity: 0.8;
          }
        }
      }
      .form-submit-btn{
        width: 100%;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.footer-section{
  background-color: var(--primary-op-10);
  padding: 50px 80px 80px;
  .footer-desc-container{

    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    .footer-part-1{
      max-width: 285px;
      .brand-desc-info{
  
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
      }
      .social-icon-links{
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-top: 60px;
        .social-icon-item{
          width: 38px;
          height: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--primary-op-10);
        }
      }
    }
    .footer-part-2, .footer-part-3, .footer-part-4{
      max-width: 250px;
      padding-top: 50px;
      .footer-links{
        margin-top: 32px;
        .footer-link-item{
          margin-bottom: 8px;
          .link-item{
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: var(--primary-text-color);
          }
        }
        .footer-address-item{
          display: flex;
          align-items: flex-start;
          gap: 8px;
          margin-bottom: 20px;
          max-width: 250px;
          
          .address-value{
            font-size: 14px;
            font-weight: 300;
            line-height: 18px;
          }
        }
      }
      .brand-scanner-img{
        margin-top: 36px;
      }
    }
  }
  .footer-bottom-line{
    margin: 30px 0px 40px;
  }
  .footer-copy-right-text{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  .footer-column-header{
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }
}

// Header title design{
  .header-page-title-container{
    width: 100%;
    height: 264px;
    background-image: url('../../public/images/header_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.4);
    }
    .title-details-box{
      z-index: 2;
      position: relative;
      text-align: center;
      .page-title{
        font-family: var(--font-syne);
        font-size: 48px;
        line-height: 54px;
        font-weight: 800;
        color: #ffffff;
      }
      .page-breadcrume-detail{
        color: #ffffff;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin-top: 6px;
      }
    }
  }

// about us page design
.about-page-container{
  .about-us-info-details-section{
    .details-section{
      .about-us-desc{
        margin-top: 32px;
        .desc{
          &:first-child{
            margin-top: 0px;
          }
        }
      }
    }
  }
  .choose-us-section{
    background-color: var(--primary-op-10);
  }
  .section-container{
    padding: 80px 96px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      .title{
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
      }
      .main-desc{
        margin-top: 24px;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        max-width: 775px;
      }
      .sub-desc{
        margin-top: 24px;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
        max-width: 680px;
      }
    
    .action-btn-group{
margin-top: 40px;
display: flex;
align-items: center;
gap: 24px;
    }
  }
}